/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/rgb.h>

// layers

#define DEFAULT 0
#define LOWER 1
#define MAGIC 2
#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10
#define ZMK_POINTING_DEFAULT_MOVE_VAL 3000  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

/ {
    behaviors {
        // For the "layer" key, it'd nice to be able to use it as either a shift or a toggle.
        // Configure it as a tap dance, so the first tap (or hold) is a &mo and the second tap is a &to

        layer_td: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo LOWER>, <&to LOWER>;
        };

        mt_repeat: mt_repeat {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <500>;
            require-prior-idle-ms = <100>;
            hold-trigger-on-release;

            // hold-trigger-key-positions = <1 2 3 6 7 8 31 0 9>;

            bindings = <&kp>, <&kp>;
        };

        accmove: accmove {
            compatible = "zmk,behavior-input-two-axis";
            #binding-cells = <1>;
            x-input-code = <INPUT_REL_X>;
            y-input-code = <INPUT_REL_Y>;
            time-to-max-speed-ms = <600>;
            acceleration-exponent = <1>;
        };
    };

    macros {
        bt_0: bt_profile_macro_0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&out OUT_BLE &bt BT_SEL 3>;
        };
    };

    combos {
        compatible = "zmk,combos";

        combo_colon {
            bindings = <&kp COLON>;
            key-positions = <43 44>;
        };

        combo_underbar {
            bindings = <&kp UNDERSCORE>;
            key-positions = <21 20>;
        };

        combo_lt3 {
            bindings = <&mo 3>;
            key-positions = <70 73>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <42 43>;
        };

        underscore {
            bindings = <&kp UNDERSCORE>;
            key-positions = <60 61>;
        };

        lang2 {
            bindings = <&kp LANG1>;
            key-positions = <41 42>;
        };

        lang1 {
            bindings = <&kp LANG2>;
            key-positions = <38 37>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  F1   |  F2 |  F3 |  F4  |  F5  |                                                               |  F6   |  F7   |  F8  |   F9  |  F10 |
            // |  =    |  1  |  2  |  3   |  4   |  5   |                                                 |  6   |   7   |   8   |  9   |   0   |   -  |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                                 |  Y   |   U   |   I   |  O   |   P   |   \  |
            // |  ESC  |  A  |  S  |  D   |  F   |  G   |                                                 |  H   |   J   |   K   |  L   |   ;   |   '  |
            // |   `   |  Z  |  X  |  C   |  V   |  B   | LSHFT | LCTRL | LOWER | | LGUI  | RCTRL | RSHFT |  N   |   M   |   ,   |  .   |   /   | PGUP |
            // | MAGIC | HOME| END | LEFT | RIGHT|      | BSPC  | DEL   | LALT  | | RALT  | RET   | SPACE |      |  UP   | DOWN  |  [   |   ]   | PGDN |

            bindings = <
&kp F1         &kp F2    &kp F3   &kp F4    &kp F5                                                                                                                                        &kp F6  &kp F7     &kp F8    &kp F9    &kp F10
&kp EQUAL      &kp N1    &kp N2   &kp N3    &kp N4     &kp N5                                                                                                                     &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp MINUS
&kp TAB        &kp Q     &kp W    &kp E     &kp R      &kp T                                                                                                                      &kp Y   &kp U   &kp I      &kp O     &kp P     &kp BSLH
&mt LCTRL ESC  &kp A     &kp S    &kp D     &kp F      &kp G                                                                                                                      &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
&kp GRAVE      &kp Z     &kp X    &kp C     &kp V      &kp B   &mt LGUI LANG2               &kp LG(LA(LCTRL))  &kp LG(LS(LC(NUMBER_4)))    &kp LGUI  &kp RCTRL  &mt RGUI LANG1    &kp N   &kp M   &kp COMMA  &kp DOT   &kp FSLH  &kp PG_UP
&mo MAGIC      &kp HOME  &kp END  &kp LEFT  &kp RIGHT          &mt_repeat LSHIFT BACKSPACE  &lt 2 LANG2        &kp LALT                    &kp RALT  &lt 1 RET  &mt RSHIFT SPACE          &kp UP  &kp DOWN   &kp LBKT  &kp RBKT  &kp PG_DN
            >;
        };

        lower_layer {
            bindings = <
&kp C_BRI_DN  &kp C_BRI_UP  &kp C_PREV  &kp C_NEXT  &kp C_PP                                                                                         &kp C_MUTE          &kp C_VOL_DN      &kp C_VOL_UP         &none            &kp PAUSE_BREAK
&trans        &none         &none       &none       &none      &kp HOME                                                          &kp LPAR            &kp KP_NUM          &kp KP_EQUAL      &kp KP_DIVIDE        &kp KP_MULTIPLY  &kp PSCRN
&trans        &none         &none       &kp UP      &none      &kp END                                                           &kp RPAR            &kp KP_N7           &kp KP_N8         &kp KP_N9            &kp KP_MINUS     &kp SLCK
&trans        &none         &kp LEFT    &kp DOWN    &kp RIGHT  &kp PG_UP                                                         &kp LEFT            &kp DOWN            &kp UP            &kp RIGHT            &kp KP_PLUS      &none
&trans        &kp K_CMENU   &none       &kp F11     &kp F12    &kp PG_DN  &trans  &trans  &to DEFAULT    &trans  &trans  &trans  &accmove MOVE_LEFT  &accmove MOVE_DOWN  &accmove MOVE_UP  &accmove MOVE_RIGHT  &kp KP_ENTER     &trans
&trans        &kp CAPS      &kp INS     &kp F11     &kp F12               &trans  &trans  &trans         &trans  &trans  &trans                      &mkp LCLK           &mkp RCLK         &none                &kp KP_ENTER     &trans
            >;
        };

        raise_layer {
            bindings = <
&kp C_BRI_DN  &kp C_BRI_UP  &kp C_PREV      &kp C_NEXT       &kp C_PP                                                                                 &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP   &none            &kp PAUSE_BREAK
&trans        &none         &none           &none            &none       &kp HOME                                                          &kp LPAR   &kp KP_NUM  &kp KP_EQUAL  &kp KP_DIVIDE  &kp KP_MULTIPLY  &kp PSCRN
&trans        &kp EXCL      &kp AT          &kp HASH         &kp DLLR    &kp PRCNT                                                         &kp CARET  &kp AMPS    &kp ASTERISK  &kp LPAR       &kp RPAR         &kp COLON
&trans        &kp CARET     &kp MINUS       &kp UNDER        &kp DOLLAR  &kp PG_UP                                                         &kp PLUS   &kp PIPE    &kp MINUS     &kp LBRC       &kp RBRC         &kp SINGLE_QUOTE
&trans        &kp K_CMENU   &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp F12     &kp PG_DN  &trans  &trans  &to DEFAULT    &trans  &trans  &trans  &kp MINUS  &kp TILDE   &kp KP_EQUAL  &kp LBKT       &kp RBKT         &kp GRAVE
&trans        &kp CAPS      &kp INS         &kp F11          &kp F12                &trans  &trans  &trans         &trans  &trans  &trans             &kp KP_N0   &kp PLUS      &kp KP_DOT     &kp KP_ENTER     &trans
            >;
        };

        magic_layer {
            bindings = <
&bt BT_CLR   &none            &none            &none            &none                                                                                                &none           &none         &none            &none  &none
&none        &none            &none            &none            &none            &none                                                               &none           &none           &none         &none            &none  &none
&none        &rgb_ug RGB_SPI  &rgb_ug RGB_SAI  &rgb_ug RGB_HUI  &rgb_ug RGB_BRI  &rgb_ug RGB_TOG                                                     &msc SCRL_LEFT  &msc SCRL_DOWN  &msc SCRL_UP  &msc SCRL_RIGHT  &none  &none
&bootloader  &rgb_ug RGB_SPD  &rgb_ug RGB_SAD  &rgb_ug RGB_HUD  &rgb_ug RGB_BRD  &rgb_ug RGB_EFF                                                     &mmv MOVE_LEFT  &mmv MOVE_DOWN  &mmv MOVE_UP  &mmv MOVE_RIGHT  &none  &bootloader
&sys_reset   &none            &none            &none            &none            &none            &bt_2  &bt_3  &none           &none  &none  &none  &kp K_BACK      &mkp LCLK       &mkp RCLK     &kp K_FORWARD    &none  &sys_reset
&none        &none            &none            &none            &none                             &bt_0  &bt_1  &out OUT_USB    &none  &none  &none                  &none           &none         &none            &none  &none
            >;
        };
    };
};
